In [1]:
import pandas as pd
import numpy as np
oscars = pd.read_csv('oscars.csv')

In [2]:
#oscars.query('year == "1999"').category.unique()
oscars.tail()

,year,category,winner,entity
11053,2017,SCIENTIFIC AND TECHNICAL AWARD (Scientific and...,True,"To LEONARD CHAPMAN for the overall concept, de..."
11054,2017,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,True,To JASON SMITH and JEFF WHITE for the original...
11055,2017,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,True,"To JOE MANCEWICZ, MATT DERKSEN and HANS RIJPKE..."
11056,2017,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,True,To ALEX POWELL for his contribution to the des...
11057,2017,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,True,To ROB JENSEN for the foundational design and ...

In [3]:
baftas = pd.read_csv('baftas.csv')

def bafta_noms(name):
    #includes actor awards in film results
    nom = len(baftas.query('nominee == @name')) + len(baftas.query('workers == @name'))
    won = len(baftas.query('nominee == @name & winner == True')) + len(baftas.query('workers == @name & winner == True'))
    print('Nominated: %s   Won: %s' % (nom, won))

bafta_noms('Manhattan')

Nominated: 10   Won: 2

In [4]:
baftas

,year,category,nominee,workers,winner
0,1949,Film | British Film in 1949,The Fallen Idol,NaN,True
1,1949,Film | British Film in 1949,Hamlet,NaN,False
2,1949,Film | British Film in 1949,Oliver Twist,NaN,False
3,1949,Film | British Film in 1949,Once A Jolly Swagman,NaN,False
4,1949,Film | British Film in 1949,The Red Shoes,NaN,False
...,...,...,...,...,...
4171,2020,Film | Supporting Actress in 2020,Marriage Story,Laura Dern,True
4172,2020,Film | Supporting Actress in 2020,Jojo Rabbit,Scarlett Johansson,False
4173,2020,Film | Supporting Actress in 2020,Little Women,Florence Pugh,False
4174,2020,Film | Supporting Actress in 2020,Bombshell,Margot Robbie,False
4175,2020,Film | Supporting Actress in 2020,Once Upon a Time.. in Hollywood,Margot Robbie,False

In [5]:
globes = pd.read_csv('globes.csv')

In [6]:
def rename(name):
    if str(name)[-5:] == ', The':
        renamed = 'The ' + str(name)[:-5]
        return renamed
    if str(name)[-3:] == ', A':
        renamed = 'A ' + str(name)[:-5]
        return renamed
    else: return name
    
    
globes.film = globes.film.apply(lambda x: rename(x))

In [7]:
def globes_noms(name):
    #includes actor awards in film results
    nom = len(globes.query('nominee == @name')) + len(globes.query('film == @name'))
    won = len(globes.query('nominee == @name & win == True')) + len(globes.query('film == @name & win == True'))
    print('Nominated: %s   Won: %s' % (nom, won))

globes_noms('Apocalypse Now')

Nominated: 4   Won: 3

In [8]:
globes.to_csv('globes_.csv')
globes

,year_film,year_award,ceremony,category,nominee,film,win
0,1943,1944,1,Best Performance by an Actress in a Supporting...,Katina Paxinou,For Whom The Bell Tolls,True
1,1943,1944,1,Best Performance by an Actor in a Supporting R...,Akim Tamiroff,For Whom The Bell Tolls,True
2,1943,1944,1,Best Director - Motion Picture,Henry King,The Song Of Bernadette,True
3,1943,1944,1,Picture,The Song Of Bernadette,NaN,True
4,1943,1944,1,Actress In A Leading Role,Jennifer Jones,The Song Of Bernadette,True
...,...,...,...,...,...,...,...
7986,2019,2020,77,Best Performance by an Actor in a Supporting R...,Kieran Culkin,Succession,False
7987,2019,2020,77,Best Performance by an Actor in a Supporting R...,Andrew Scott,Fleabag,False
7988,2019,2020,77,Best Performance by an Actor in a Supporting R...,Henry Winkler,Barry,False
7989,2019,2020,77,Cecil B. deMille Award,Tom Hanks,NaN,False
7990,2019,2020,77,Carol Burnett Award,Ellen DeGeneres,NaN,False

In [9]:
mask = oscars.entity.str.len() < 80

In [10]:
oscars = oscars.loc[mask]

In [11]:
oscars.tail()

,year,category,winner,entity
11038,2017,WRITING (Original Screenplay),True,Get Out
11039,2017,WRITING (Original Screenplay),False,Lady Bird
11040,2017,WRITING (Original Screenplay),False,The Shape of Water
11041,2017,WRITING (Original Screenplay),False,"Three Billboards Outside Ebbing, Missouri"
11047,2017,GORDON E. SAWYER AWARD,True,Jonathan Erland

In [12]:
oscars.to_csv('oscars_.csv')
oscars.query('entity == "Janet Gaynor"')

     year category  winner        entity
3    1927  ACTRESS    True  Janet Gaynor
564  1937  ACTRESS   False  Janet Gaynor

In [13]:
def oscar_noms(name):
    #does not include actor awards in film results
    nom = len(oscars.query('entity == @name'))
    won = len(oscars.query('entity == @name & winner == True'))
    print('Nominated: %s   Won: %s' % (nom, won))

oscar_noms('Robert Duvall')

Nominated: 7   Won: 1

In [14]:
oscars.query('entity == "Chinatown"')

      year                         category  winner     entity
5466  1974                    ART DIRECTION   False  Chinatown
5471  1974                   CINEMATOGRAPHY   False  Chinatown
5476  1974                   COSTUME DESIGN   False  Chinatown
5481  1974                        DIRECTING   False  Chinatown
5497  1974                     FILM EDITING   False  Chinatown
5506  1974  MUSIC (Original Dramatic Score)   False  Chinatown
5519  1974                     BEST PICTURE   False  Chinatown
5534  1974                            SOUND   False  Chinatown
5540  1974    WRITING (Original Screenplay)    True  Chinatown

In [15]:
def osc_nom(name):
    nom = len(oscars.query('entity == @name'))
    return nom

def osc_won(name):
    won = len(oscars.query('entity == @name & winner == True'))
    return won

In [16]:
names = pd.Series(oscars.entity.unique())

In [20]:
noms = names.apply(lambda x: osc_nom(x))
wins = names.apply(lambda x: osc_won(x))

In [21]:
df = pd.DataFrame([names, noms, wins])

In [ ]:
df = df.T

In [ ]:
df.columns = ['nominations', 'wins']

In [ ]:
df = df.set_index(['name'])

In [ ]:
df

In [ ]:
df.loc['Al Pacino']

In [ ]:
df.to_csv('oscar_noms_1927-2017.csv')

In [ ]:
os = pd.read_csv('oscar_noms_1927-2017.csv')

In [ ]:
os

In [ ]:
bn = pd.Series(baftas.nominee.unique())
bw = pd.Series(baftas.workers.unique())

In [ ]:
bc = bn.append(bw)

In [ ]:
bc2 = bc.reindex()

In [ ]:

bc2.index = pd.RangeIndex(0, 4991)
bc2

In [ ]:
def bafta_nom(name):
    nom = len(baftas.query('nominee == @name')) + len(baftas.query('workers == @name'))
    return nom
    
def bafta_won(name):
    won = len(baftas.query('nominee == @name & winner == True')) + len(baftas.query('workers == @name & winner == True'))
    return won

In [ ]:
bnom = bc2.apply(lambda x: bafta_nom(x))

In [ ]:
bwon = bc2.apply(lambda x: bafta_won(x))

In [ ]:
bnom.index=pd.RangeIndex(0,4991)
bnom

In [ ]:
baft = pd.DataFrame([bc2, bnom, bwon])

In [ ]:
baft = baft.T

In [ ]:
baft.columns = ['name', 'nominations', 'wins']
baft

In [ ]:

baft

In [ ]:
baft.loc['Marlon Brando']

In [ ]:
baft.to_csv('bafta_noms_1949-2020.csv')

In [ ]:
def globes_nom(name):
    nom = len(globes.query('nominee == @name')) + len(globes.query('film == @name'))
    return nom
    
def globes_won(name):
    won = len(globes.query('nominee == @name & win == True')) + len(globes.query('film == @name & win == True'))
    return won

glo = pd.Series(globes.nominee.unique()).append(pd.Series(globes.film.unique()))
glo = glo.unique()
glo = pd.Series(glo)
glo

In [ ]:
glo.index = pd.RangeIndex(0, 6250)

In [ ]:
gnom = glo.apply(lambda x: globes_nom(x))
gwon = glo.apply(lambda x: globes_won(x))

In [ ]:
glonoms = pd.DataFrame([glo, gnom, gwon])

In [ ]:
glonoms = glonoms.T

In [ ]:
glonoms.columns = ['names', 'nominations', 'wins']

In [ ]:
glonoms = glonoms.set_index('names')

In [ ]:
glonoms

In [ ]:
glonoms.to_csv('gglobe_noms_1944-2020.csv')