In [10]:
import numpy as np
import pandas as pd
oscars = pd.read_csv('oscar_noms_by_year.csv')
baftas = pd.read_csv('bafta_noms_by_year.csv')
globes = pd.read_csv('globe_noms_by_year.csv')

In [22]:
oscars = oscars.rename(columns={'Unnamed: 0': 'name'})
oscars.index = oscars.name
oscars

                                    name               nom     won
name
Richard Barthelmess  Richard Barthelmess            [1928]      []
Emil Jannings              Emil Jannings            [1928]  [1928]
Louise Dresser            Louise Dresser            [1928]      []
Janet Gaynor                Janet Gaynor       [1928 1938]  [1928]
Gloria Swanson            Gloria Swanson  [1928 1930 1951]      []
...                                  ...               ...     ...
Saria                              Saria            [2020]      []
A Sister                        A Sister            [2020]      []
Ad Astra                        Ad Astra            [2020]      []
Avengers: Endgame      Avengers: Endgame            [2020]      []
Knives Out                    Knives Out            [2020]      []

[11493 rows x 3 columns]

In [23]:
n = 'The Godfather'

In [25]:
oscars.loc[n].nom

'[1973 1973 1973 1973 1973 1973 1973 1973 1973 1973 1973]'

In [68]:
def results(name, year=2020):
    nom = won = 0
    noms = oscars.loc[name].nom[1:-1].split()
    wins= oscars.loc[name].won[1:-1].split()
    for y in noms:     
        if int(y) < year: nom += 1
    for y in wins:
        if int(y) < year: won += 1
    return nom, won

In [77]:
results(n, 1979)

(2, 1)

In [131]:
baftas = baftas.rename(columns={'Unnamed: 0': 'name'})
baftas.index = baftas.name
baftas

,name,nom,won
name,,,
The Fallen Idol,The Fallen Idol,[1949 1949],[1949]
Hamlet,Hamlet,[1949 1949 1992],[1949]
Oliver Twist,Oliver Twist,[1949],[]
The Fallen Idol,The Fallen Idol,[1949 1949],[1949]
Hamlet,Hamlet,[1949 1949 1992],[1949]
...,...,...,...
"Ivan Busquets, Leandro Estebecorena, Stephane Grabli, Pablo Helman","Ivan Busquets, Leandro Estebecorena, Stephane ...",[2020],[]
"Andrew R. Jones, Robert Legato, Elliot Newman, Adam Valdez","Andrew R. Jones, Robert Legato, Elliot Newman,...",[2020],[]
"Roger Guyett, Paul Kavanagh, Neal Scanlan, Dominic Tuohy","Roger Guyett, Paul Kavanagh, Neal Scanlan, Dom...",[2020],[]
A Beautiful Day in the Neighborhood,A Beautiful Day in the Neighborhood,[2020],[]
Laura Dern,Laura Dern,[2020],[2020]

In [86]:
baftas.loc['Michael Caine']

name                 Michael Caine
nom     [1966 1967 1984 1984 1987]
won                         [1984]
Name: Michael Caine, dtype: object

In [115]:
def results(name, year=2020):
    nom = won = 0
    noms = baftas.loc[name].nom[1:-1].split()
    wins = baftas.loc[name].won[1:-1].split()
    for y in noms:     
        if int(y) < year: nom += 1
    for y in wins:
        if int(y) < year: won += 1
    return nom, won

In [128]:
results('Michael Caine')

(5, 1)

In [92]:
bf = pd.read_csv('baftas.csv')

In [119]:
bf.year.unique() #missing years in baftas results 1997-2000 and 2002-2015!

array([1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959,
       1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970,
       1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981,
       1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992,
       1993, 1994, 1995, 1996, 2001, 2016, 2017, 2018, 2019, 2020])