In [1]:
import pandas as pd
import numpy as np
#oscars = pd.read_csv('oscars.csv')

In [2]:
#oscars.query('year == "1999"').category.unique()
oscars.tail()

,year,category,winner,entity
11053,2017,SCIENTIFIC AND TECHNICAL AWARD (Scientific and...,True,"To LEONARD CHAPMAN for the overall concept, de..."
11054,2017,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,True,To JASON SMITH and JEFF WHITE for the original...
11055,2017,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,True,"To JOE MANCEWICZ, MATT DERKSEN and HANS RIJPKE..."
11056,2017,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,True,To ALEX POWELL for his contribution to the des...
11057,2017,SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,True,To ROB JENSEN for the foundational design and ...

In [3]:
baftas = pd.read_csv('baftas.csv')

def bafta_noms(name):
    #includes actor awards in film results
    nom = len(baftas.query('nominee == @name')) + len(baftas.query('workers == @name'))
    won = len(baftas.query('nominee == @name & winner == True')) + len(baftas.query('workers == @name & winner == True'))
    print('Nominated: %s   Won: %s' % (nom, won))

bafta_noms('Manhattan')

Nominated: 10   Won: 2

In [4]:
baftas

,year,category,nominee,workers,winner
0,1949,Film | British Film in 1949,The Fallen Idol,NaN,True
1,1949,Film | British Film in 1949,Hamlet,NaN,False
2,1949,Film | British Film in 1949,Oliver Twist,NaN,False
3,1949,Film | British Film in 1949,Once A Jolly Swagman,NaN,False
4,1949,Film | British Film in 1949,The Red Shoes,NaN,False
...,...,...,...,...,...
4171,2020,Film | Supporting Actress in 2020,Marriage Story,Laura Dern,True
4172,2020,Film | Supporting Actress in 2020,Jojo Rabbit,Scarlett Johansson,False
4173,2020,Film | Supporting Actress in 2020,Little Women,Florence Pugh,False
4174,2020,Film | Supporting Actress in 2020,Bombshell,Margot Robbie,False
4175,2020,Film | Supporting Actress in 2020,Once Upon a Time.. in Hollywood,Margot Robbie,False

In [2]:
globes = pd.read_csv('globes_.csv')

In [182]:
globes.query('year_award == "1980"')

,Unnamed: 0,year_film,year_award,ceremony,category,nominee,film,win
2797,2797,1979,1980,37,Best Motion Picture - Drama,Kramer vs. Kramer,NaN,True
2798,2798,1979,1980,37,Best Motion Picture - Drama,Apocalypse Now,NaN,False
2799,2799,1979,1980,37,Best Motion Picture - Drama,"China Syndrome, The",NaN,False
2800,2800,1979,1980,37,Best Motion Picture - Drama,Manhattan,NaN,False
2801,2801,1979,1980,37,Best Motion Picture - Drama,Norma Rae,NaN,False
...,...,...,...,...,...,...,...,...
2921,2921,1979,1980,37,Television Movie,"Miracle Worker, The",NaN,False
2922,2922,1979,1980,37,Television Movie,Elvis,NaN,False
2923,2923,1979,1980,37,Television Movie,Friendly Fire,NaN,False
2924,2924,1979,1980,37,Henrietta Award (World Film Favorites),Jane Fonda,NaN,True
2925,2925,1979,1980,37,Henrietta Award (World Film Favorites),Roger Moore,NaN,True

In [6]:
def rename(name):
    if str(name)[-5:] == ', The':
        renamed = 'The ' + str(name)[:-5]
        return renamed
    if str(name)[-3:] == ', A':
        renamed = 'A ' + str(name)[:-5]
        return renamed
    else: return name
    
    
globes.film = globes.film.apply(lambda x: rename(x))

In [7]:
def globes_noms(name):
    #includes actor awards in film results
    nom = len(globes.query('nominee == @name')) + len(globes.query('film == @name'))
    won = len(globes.query('nominee == @name & win == True')) + len(globes.query('film == @name & win == True'))
    print('Nominated: %s   Won: %s' % (nom, won))

globes_noms('Apocalypse Now')

Nominated: 4   Won: 3

In [176]:
globes.to_csv('globes_.csv')

NameError: name 'globes' is not defined

In [9]:
mask = oscars.entity.str.len() < 80

In [10]:
oscars = oscars.loc[mask]

In [11]:
oscars.tail()

,year,category,winner,entity
11038,2017,WRITING (Original Screenplay),True,Get Out
11039,2017,WRITING (Original Screenplay),False,Lady Bird
11040,2017,WRITING (Original Screenplay),False,The Shape of Water
11041,2017,WRITING (Original Screenplay),False,"Three Billboards Outside Ebbing, Missouri"
11047,2017,GORDON E. SAWYER AWARD,True,Jonathan Erland

In [12]:
oscars.to_csv('oscars_.csv')
oscars.query('entity == "Janet Gaynor"')

     year category  winner        entity
3    1927  ACTRESS    True  Janet Gaynor
564  1937  ACTRESS   False  Janet Gaynor

In [13]:
def oscar_noms(name):
    #does not include actor awards in film results
    nom = len(oscars.query('entity == @name'))
    won = len(oscars.query('entity == @name & winner == True'))
    print('Nominated: %s   Won: %s' % (nom, won))

oscar_noms('Robert Duvall')

Nominated: 7   Won: 1

In [14]:
oscars.query('entity == "Chinatown"')

      year                         category  winner     entity
5466  1974                    ART DIRECTION   False  Chinatown
5471  1974                   CINEMATOGRAPHY   False  Chinatown
5476  1974                   COSTUME DESIGN   False  Chinatown
5481  1974                        DIRECTING   False  Chinatown
5497  1974                     FILM EDITING   False  Chinatown
5506  1974  MUSIC (Original Dramatic Score)   False  Chinatown
5519  1974                     BEST PICTURE   False  Chinatown
5534  1974                            SOUND   False  Chinatown
5540  1974    WRITING (Original Screenplay)    True  Chinatown

In [15]:
def osc_nom(name):
    nom = len(oscars.query('entity == @name'))
    return nom

def osc_won(name):
    won = len(oscars.query('entity == @name & winner == True'))
    return won

In [16]:
names = pd.Series(oscars.entity.unique())

In [20]:
noms = names.apply(lambda x: osc_nom(x))
wins = names.apply(lambda x: osc_won(x))

In [21]:
df = pd.DataFrame([names, noms, wins])

In [ ]:
df = df.T

In [ ]:
df.columns = ['nominations', 'wins']

In [ ]:
df = df.set_index(['name'])

In [ ]:
df

In [ ]:
df.loc['Al Pacino']

In [ ]:
df.to_csv('oscar_noms_1927-2017.csv')

In [ ]:
os = pd.read_csv('oscar_noms_1927-2017.csv')

In [ ]:
os

In [ ]:
bn = pd.Series(baftas.nominee.unique())
bw = pd.Series(baftas.workers.unique())

In [ ]:
bc = bn.append(bw)

In [ ]:
bc2 = bc.reindex()

In [ ]:

bc2.index = pd.RangeIndex(0, 4991)
bc2

In [ ]:
def bafta_nom(name):
    nom = len(baftas.query('nominee == @name')) + len(baftas.query('workers == @name'))
    return nom
    
def bafta_won(name):
    won = len(baftas.query('nominee == @name & winner == True')) + len(baftas.query('workers == @name & winner == True'))
    return won

In [ ]:
bnom = bc2.apply(lambda x: bafta_nom(x))

In [ ]:
bwon = bc2.apply(lambda x: bafta_won(x))

In [ ]:
bnom.index=pd.RangeIndex(0,4991)
bnom

In [ ]:
baft = pd.DataFrame([bc2, bnom, bwon])

In [ ]:
baft = baft.T

In [ ]:
baft.columns = ['name', 'nominations', 'wins']
baft

In [ ]:

baft

In [ ]:
baft.loc['Marlon Brando']

In [ ]:
baft.to_csv('bafta_noms_1949-2020.csv')

In [ ]:
def globes_nom(name):
    nom = len(globes.query('nominee == @name')) + len(globes.query('film == @name'))
    return nom
    
def globes_won(name):
    won = len(globes.query('nominee == @name & win == True')) + len(globes.query('film == @name & win == True'))
    return won

glo = pd.Series(globes.nominee.unique()).append(pd.Series(globes.film.unique()))
glo = glo.unique()
glo = pd.Series(glo)
glo

In [ ]:
glo.index = pd.RangeIndex(0, 6250)

In [ ]:
gnom = glo.apply(lambda x: globes_nom(x))
gwon = glo.apply(lambda x: globes_won(x))

In [ ]:
glonoms = pd.DataFrame([glo, gnom, gwon])

In [ ]:
glonoms = glonoms.T

In [ ]:
glonoms.columns = ['names', 'nominations', 'wins']

In [ ]:
glonoms = glonoms.set_index('names')

In [ ]:
glonoms

In [ ]:
glonoms.to_csv('gglobe_noms_1944-2020.csv')

In [47]:
osc = pd.read_csv('the_oscar_award.csv')

In [50]:
osc = osc.dropna()
osc

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False
...,...,...,...,...,...,...,...
10386,2019,2020,92,WRITING (Original Screenplay),Written by Rian Johnson,Knives Out,False
10387,2019,2020,92,WRITING (Original Screenplay),Written by Noah Baumbach,Marriage Story,False
10388,2019,2020,92,WRITING (Original Screenplay),Written by Sam Mendes & Krysty Wilson-Cairns,1917,False
10389,2019,2020,92,WRITING (Original Screenplay),Written by Quentin Tarantino,Once upon a Time...in Hollywood,False
10390,2019,2020,92,WRITING (Original Screenplay),"Screenplay by Bong Joon Ho, Han Jin Won; Story...",Parasite,True

In [82]:
osc_trimmed = osc.drop(['year_ceremony', 'ceremony', 'category', 'name', 'noms'], axis=1)

In [94]:
osc_trimmed['year_film'] = osc_trimmed['year_film'].apply(str)

In [124]:
osc_trimmed['film+year'] = osc_trimmed.film + ' ' + osc_trimmed.year_film
os = osc_trimmed
os = os.drop('film', axis=1)
os = os.rename(columns={'film+year': 'film'})
os

      year_film  winner                                  film
0          1927   False                        The Noose 1927
1          1927    True                 The Last Command 1927
2          1927   False                  A Ship Comes In 1927
3          1927    True                       7th Heaven 1927
4          1927   False                   Sadie Thompson 1927
...         ...     ...                                   ...
10386      2019   False                       Knives Out 2019
10387      2019   False                   Marriage Story 2019
10388      2019   False                             1917 2019
10389      2019   False  Once upon a Time...in Hollywood 2019
10390      2019    True                         Parasite 2019

[10091 rows x 3 columns]

In [116]:
#def osc_nom(x):
#    nom = len(osc.query('film == @x'))
#    return nom

noms = os.film.apply(lambda x: len(os.query('film == @x')))

In [117]:
noms

0         1
1         2
2         1
3         5
4         1
         ..
10386     1
10387     6
10388    10
10389    10
10390     6
Name: film, Length: 10091, dtype: int64

In [118]:
wins = os.film.apply(lambda x: len(os.query('film == @x & winner == True')))
wins

0        0
1        1
2        0
3        3
4        0
        ..
10386    0
10387    1
10388    3
10389    2
10390    4
Name: film, Length: 10091, dtype: int64

In [125]:
os['noms'] = noms
os['wins'] = wins

In [127]:
os.tail(50)

      year_film  winner                                   film  noms  wins
10341      2019   False                           Harriet 2019     2     0
10342      2019   False                    Ford v Ferrari 2019     4     2
10343      2019   False                      The Irishman 2019    10     0
10344      2019   False                       Jojo Rabbit 2019     6     1
10345      2019   False                             Joker 2019    11     2
10346      2019   False                      Little Women 2019     6     1
10347      2019   False                    Marriage Story 2019     6     1
10348      2019   False                              1917 2019    10     3
10349      2019   False   Once upon a Time...in Hollywood 2019    10     2
10350      2019    True                          Parasite 2019     6     4
10351      2019   False                      The Irishman 2019    10     0
10352      2019   False                       Jojo Rabbit 2019     6     1
10353      2019   False                              1917 2019    10     3
10354      2019    True   Once upon a Time...in Hollywood 2019    10     2
10355      2019   False                          Parasite 2019     6     4
10356      2019   False                  Dcera (Daughter) 2019     1     0
10357      2019    True                         Hair Love 2019     1     1
10358      2019   False                           Kitbull 2019     1     0
10359      2019   False                         Memorable 2019     1     0
10360      2019   False                            Sister 2019     1     0
10361      2019   False                       Brotherhood 2019     1     0
10362      2019   False               Nefta Football Club 2019     1     0
10363      2019    True             The Neighbors' Window 2019     1     1
10364      2019   False                             Saria 2019     1     0
10365      2019   False                          A Sister 2019     1     0
10366      2019    True                    Ford v Ferrari 2019     4     2
10367      2019   False                             Joker 2019    11     2
10368      2019   False                              1917 2019    10     3
10369      2019   False   Once upon a Time...in Hollywood 2019    10     2
10370      2019   False  Star Wars: The Rise of Skywalker 2019     3     0
10371      2019   False                          Ad Astra 2019     1     0
10372      2019   False                    Ford v Ferrari 2019     4     2
10373      2019   False                             Joker 2019    11     2
10374      2019    True                              1917 2019    10     3
10375      2019   False   Once upon a Time...in Hollywood 2019    10     2
10376      2019   False                 Avengers: Endgame 2019     1     0
10377      2019   False                      The Irishman 2019    10     0
10378      2019   False                     The Lion King 2019     1     0
10379      2019    True                              1917 2019    10     3
10380      2019   False  Star Wars: The Rise of Skywalker 2019     3     0
10381      2019   False                      The Irishman 2019    10     0
10382      2019    True                       Jojo Rabbit 2019     6     1
10383      2019   False                             Joker 2019    11     2
10384      2019   False                      Little Women 2019     6     1
10385      2019   False                     The Two Popes 2019     3     0
10386      2019   False                        Knives Out 2019     1     0
10387      2019   False                    Marriage Story 2019     6     1
10388      2019   False                              1917 2019    10     3
10389      2019   False   Once upon a Time...in Hollywood 2019    10     2
10390      2019    True                          Parasite 2019     6     4

os

In [64]:
osc2['wins'] = wins

In [123]:
os

<bound method DataFrame.drop_duplicates of       year_film  winner                                  film  noms  wins
0          1927   False                        The Noose 1927     1     0
1          1927    True                 The Last Command 1927     2     1
2          1927   False                  A Ship Comes In 1927     1     0
3          1927    True                       7th Heaven 1927     5     3
4          1927   False                   Sadie Thompson 1927     1     0
...         ...     ...                                   ...   ...   ...
10386      2019   False                       Knives Out 2019     1     0
10387      2019   False                   Marriage Story 2019     6     1
10388      2019   False                             1917 2019    10     3
10389      2019   False  Once upon a Time...in Hollywood 2019    10     2
10390      2019    True                         Parasite 2019     6     4

[10091 rows x 5 columns]>

In [134]:
osc = osc.drop('winner', axis=1)
osc = os.drop_duplicates()

In [135]:
osc.tail(50)

,year_film,winner,film,noms,wins
10284,2019,False,Jojo Rabbit 2019,6,1
10287,2019,False,How to Train Your Dragon: The Hidden World 2019,1,0
10288,2019,False,I Lost My Body 2019,1,0
10289,2019,False,Klaus 2019,1,0
10290,2019,False,Missing Link 2019,1,0
10291,2019,True,Toy Story 4 2019,2,1
10293,2019,False,Joker 2019,11,2
10294,2019,False,The Lighthouse 2019,1,0
10295,2019,True,1917 2019,10,3
10300,2019,True,Little Women 2019,6,1
10304,2019,False,1917 2019,10,3
10306,2019,True,Parasite 2019,6,4
10307,2019,True,American Factory 2019,1,1
10308,2019,False,The Cave 2019,1,0
10309,2019,False,The Edge of Democracy 2019,1,0
10310,2019,False,For Sama 2019,1,0
10311,2019,False,Honeyland 2019,2,0
10312,2019,False,In the Absence 2019,1,0
10313,2019,True,Learning to Skateboard in a Warzone (If You're...,1,1
10314,2019,False,Life Overtakes Me 2019,1,0
10315,2019,False,St. Louis Superman 2019,1,0
10316,2019,False,Walk Run Cha-Cha 2019,1,0
10317,2019,True,Ford v Ferrari 2019,4,2
10321,2019,False,Parasite 2019,6,4
10322,2019,False,Corpus Christi 2019,1,0
10324,2019,False,Les Misérables 2019,1,0
10327,2019,True,Bombshell 2019,3,1
10329,2019,False,Judy 2019,2,1
10330,2019,False,Maleficent: Mistress of Evil 2019,1,0
10336,2019,False,Star Wars: The Rise of Skywalker 2019,3,0
10337,2019,False,Toy Story 4 2019,2,1
10338,2019,True,Rocketman 2019,1,1
10339,2019,False,Breakthrough 2019,1,0
10340,2019,False,Frozen II 2019,1,0
10342,2019,False,Ford v Ferrari 2019,4,2
10356,2019,False,Dcera (Daughter) 2019,1,0
10357,2019,True,Hair Love 2019,1,1
10358,2019,False,Kitbull 2019,1,0
10359,2019,False,Memorable 2019,1,0
10360,2019,False,Sister 2019,1,0
10361,2019,False,Brotherhood 2019,1,0
10362,2019,False,Nefta Football Club 2019,1,0
10363,2019,True,The Neighbors' Window 2019,1,1
10364,2019,False,Saria 2019,1,0
10365,2019,False,A Sister 2019,1,0
10371,2019,False,Ad Astra 2019,1,0
10376,2019,False,Avengers: Endgame 2019,1,0
10378,2019,False,The Lion King 2019,1,0
10382,2019,True,Jojo Rabbit 2019,6,1
10386,2019,False,Knives Out 2019,1,0

In [156]:
osc_noms = osc.drop(['winner', 'year_film'], axis=1)
osc_noms = osc_noms.drop_duplicates()
osc_noms

                         film  noms  wins
0              The Noose 1927     1     0
1       The Last Command 1927     2     1
2        A Ship Comes In 1927     1     0
3             7th Heaven 1927     5     3
4         Sadie Thompson 1927     1     0
...                       ...   ...   ...
10365           A Sister 2019     1     0
10371           Ad Astra 2019     1     0
10376  Avengers: Endgame 2019     1     0
10378      The Lion King 2019     1     0
10386         Knives Out 2019     1     0

[4934 rows x 3 columns]

In [150]:
osc_noms.query('film == "Beauty and the Beast 1991"')

                           film  noms  wins
7060  Beauty and the Beast 1991     6     2

In [171]:
osc_noms.index=pd.RangeIndex(0, 4934)
osc_noms

                        film  noms  wins
0             The Noose 1927     1     0
1      The Last Command 1927     2     1
2       A Ship Comes In 1927     1     0
3            7th Heaven 1927     5     3
4        Sadie Thompson 1927     1     0
...                      ...   ...   ...
4929           A Sister 2019     1     0
4930           Ad Astra 2019     1     0
4931  Avengers: Endgame 2019     1     0
4932      The Lion King 2019     1     0
4933         Knives Out 2019     1     0

[4934 rows x 3 columns]

In [172]:
osc_noms.to_pickle('oscar_film_noms.pkl')

In [13]:
os = pd.read_pickle('oscar_film_noms.pkl')

                                                   film  noms  wins
4884                                         Joker 2019    11     2
4885                                 The Two Popes 2019     3     0
4886           A Beautiful Day in the Neighborhood 2019     1     0
4887                                  The Irishman 2019    10     0
4888                                       Harriet 2019     2     0
4889                                  Little Women 2019     6     1
4890                                     Bombshell 2019     3     1
4891                                          Judy 2019     2     1
4892                                Richard Jewell 2019     1     0
4893                                   Jojo Rabbit 2019     6     1
4894    How to Train Your Dragon: The Hidden World 2019     1     0
4895                                I Lost My Body 2019     1     0
4896                                         Klaus 2019     1     0
4897                                  Missing Link 2019     1     0
4898                                   Toy Story 4 2019     2     1
4899                                The Lighthouse 2019     1     0
4900                                          1917 2019    10     3
4901                                      Parasite 2019     6     4
4902                              American Factory 2019     1     1
4903                                      The Cave 2019     1     0
4904                         The Edge of Democracy 2019     1     0
4905                                      For Sama 2019     1     0
4906                                     Honeyland 2019     2     0
4907                                In the Absence 2019     1     0
4908  Learning to Skateboard in a Warzone (If You're...     1     1
4909                             Life Overtakes Me 2019     1     0
4910                            St. Louis Superman 2019     1     0
4911                              Walk Run Cha-Cha 2019     1     0
4912                                Ford v Ferrari 2019     4     2
4913                                Corpus Christi 2019     1     0
4914                                Les Misérables 2019     1     0
4915                  Maleficent: Mistress of Evil 2019     1     0
4916              Star Wars: The Rise of Skywalker 2019     3     0
4917                                     Rocketman 2019     1     1
4918                                  Breakthrough 2019     1     0
4919                                     Frozen II 2019     1     0
4920                              Dcera (Daughter) 2019     1     0
4921                                     Hair Love 2019     1     1
4922                                       Kitbull 2019     1     0
4923                                     Memorable 2019     1     0
4924                                        Sister 2019     1     0
4925                                   Brotherhood 2019     1     0
4926                           Nefta Football Club 2019     1     0
4927                         The Neighbors' Window 2019     1     1
4928                                         Saria 2019     1     0
4929                                      A Sister 2019     1     0
4930                                      Ad Astra 2019     1     0
4931                             Avengers: Endgame 2019     1     0
4932                                 The Lion King 2019     1     0
4933                                    Knives Out 2019     1     0

In [21]:
t = 'Saria 2019'
os[os['film'] == t].noms.values[0]

1

In [17]:
#globes.category.unique()

In [5]:
globes[globes['category'].isin(['Picture', 'Foreign Film - English Language', 'Best Motion Picture - Foreign Language', 'Best Motion Picture - Drama',
'Best Motion Picture - Musical or Comedy', 'Foreign Film - Foreign Language', 'Picture - Musical', 'Picture - Comedy', 'Best Motion Picture - Animated'])]

,Unnamed: 0,year_film,year_award,ceremony,category,nominee,film,win
3,3,1943,1944,1,Picture,The Song Of Bernadette,NaN,True
9,9,1944,1945,2,Picture,Going My Way,NaN,True
16,16,1945,1946,3,Picture,The Lost Weekend,NaN,True
24,24,1946,1947,4,Picture,The Best Years Of Our Lives,NaN,True
35,35,1947,1948,5,Picture,Gentleman's Agreement,NaN,True
...,...,...,...,...,...,...,...,...
7919,7919,2019,2020,77,Best Motion Picture - Foreign Language,Parasite,"South Korea, Bong Joon Ho",True
7920,7920,2019,2020,77,Best Motion Picture - Foreign Language,"Farewell, The","USA, Lulu Wang",False
7921,7921,2019,2020,77,Best Motion Picture - Foreign Language,Les Misérables,"France, Ladj Ly",False
7922,7922,2019,2020,77,Best Motion Picture - Foreign Language,Pain and Glory,"Spain, Pedro Almodóvar",False
7923,7923,2019,2020,77,Best Motion Picture - Foreign Language,Portrait of a Lady on Fire,"France, Céline Sciamma",False