In [3]:
import numpy as np
import pandas as pd
import re

df = pd.read_pickle('films_1987.pkl')

In [10]:
oscars = pd.read_csv('oscar_noms_by_year.csv', index_col='name')
baftas = pd.read_csv('bafta_noms_by_year.csv', index_col='name')
globes = pd.read_csv('globe_noms_by_year.csv', index_col='name')

def results(name, awards, year=2020):
    nom = won = 0
    noms = awards.loc[name].nom[1:-1].split()
    wins = awards.loc[name].won[1:-1].split()
    for y in noms:
        if int(y) < year: nom += 1
    for y in wins:
        if int(y) < year: won += 1
    return nom, won

def results_person(name, awards, year=2020):
    if name in awards.index:
        nom = won = 0
        nom_entries = awards.filter(like=name, axis=0).nom.values
        noms = ''
        for entry in nom_entries:
            noms = noms + entry[1:-1] + ' '
        noms = noms.split()
        win_entries = awards.filter(like=name, axis=0).won.values
        wins = ''
        for entry in win_entries:
            wins = wins + entry[1:-1] + ' '
        wins = wins.split()
        for y in noms:
            if int(y) < year: nom += 1
        for y in wins:
            if int(y) < year: won += 1
        return nom, won
    else: return 0, 0
    
def all_results(name, year=2020):
    osc = results(name, oscars, year)
    baf = results(name, baftas, year)
    glo = results(name, globes, year)
    return osc[0]+baf[0]+glo[0], osc[1]+baf[1]+glo[1]

def all_results_person(name, year=2020):
    osc = results_person(name, oscars, year)
    baf = results_person(name, baftas, year)
    glo = results_person(name, globes, year)
    return osc[0]+baf[0]+glo[0], osc[1]+baf[1]+glo[1]

def get_rating(index, credit, year):
    nom = won = 0
    for name in df.iloc[index][credit]:
        rating = all_results_person(name, year)
        nom += rating[0]
        won += rating[1]
    return nom, won

In [4]:
df

,title,director,producer,writer,cast,music,cinematography,distribution,time,budget,box_office
0,The Princess Bride,[Rob Reiner],"[Andrew Scheinman, Rob Reiner]",[William Goldman],"[Cary Elwes, Mandy Patinkin, Chris Sarandon, C...",[Mark Knopfler],[Adrian Biddle],[Interaccess Film Distribution],98,"16,000,000","30,900,000"
1,Mr. Nice Guy,[Henry Wolfond],[],"[Mark Breslin, Henry Wolfond]","[Mike MacDonald, Jan Smithers]",[],[],[],[],[],[]
2,Kadamai Kanniyam Kattupaadu,[Santhana Bharathi],"[Kamal Haasan, Chandra Haasan]","[Ananthu, Santhana Bharathi]","[Sathyaraj, Geetha, Jeevitha, Nassar, Delhi Ga...",[Ilaiyaraaja],[Suresh kumar.A],[Raaj Kamal Films International],[],[],[]
3,Lady Beware,[Karen Arthur],"[Tony Scotti, Lawrence Taylor-Mortoff]","[Charles Zev Cohen, Susan Miller]","[Diane Lane, Michael Woods, Cotter Smith]",[Craig Safan],[Tom Neuwirth],[Scotti Brothers Pictures],108,"3,000,000","169,600"
4,Someone to Watch Over Me,[Ridley Scott],"[Thierry de Ganay, Mimi Polk Gitlin, Harold Sc...",[Howard Franklin],"[Tom Berenger, Mimi Rogers, Lorraine Bracco]",[Michael Kamen],[Steven B. Poster],[Columbia Pictures],106,"12,800,000","10,278,549"
...,...,...,...,...,...,...,...,...,...,...,...
387,Weeds,[John D. Hancock],[Bill Badalato],"[John D. Hancock, Dorothy Tristan]",[Nick Nolte],[Angelo Badalamenti],[Jan Weincke],[De Laurentiis Entertainment Group],115,"12,000,000","2,325,444"
388,Dudes,[Penelope Spheeris],"[Herb Jaffe, Miguel Tejada-Flores]",[Randall Jahnson],"[Jon Cryer, Catherine Mary Stewart, Daniel Roe...",[Charles Bernstein],[Robert Richardson],[The Vista Organization],90,[],[]
389,Red Sorghum,[Zhang Yimou],[Wu Tianming],"[Chen Jianyu, Zhu Wei]","[Gong Li, Jiang Wen, Teng Rujun]",[Zhao Jiping],[Gu Changwei],[],95,[],[]
390,Masters of the Universe,[Gary Goddard],"[Yoram Globus, Menahem Golan, Edward R. Pressman]",[David Odell],"[Dolph Lundgren, Frank Langella, Courteney Cox...",[Bill Conti],[Hanania Baer],[Cannon Films],106,"22,000,000","17,300,000"
391,Russkies,[Rick Rosenthal],"[Mark Levinson, Scott Rosenfelt]","[Sheldon Lettich, Alan Jay Glueckman, Michael ...","[Whip Hubley, Leaf Phoenix, Peter Billingsley,...",[James Newton Howard],[Reed Smoot],[New Century Vista Film Company],99,[],"2,189,047"

In [36]:
processed = pd.DataFrame(columns=['title', 'director', 'producer', 'cast'])

In [37]:
for n in df.index:
    d = {}
    d['title'] = df.iloc[n].title
    d['director'] = get_rating(n, 'director', 1988)
    d['producer'] = get_rating(n, 'producer', 1988)
    d['cast'] = get_rating(n, 'cast', 1988)
    processed = processed.append(d, ignore_index=True)

In [39]:
processed.head(50)

                          title director producer      cast
0            The Princess Bride   (6, 0)   (6, 0)   (12, 1)
1                  Mr. Nice Guy   (0, 0)   (0, 0)    (0, 0)
2   Kadamai Kanniyam Kattupaadu   (0, 0)   (0, 0)    (0, 0)
3                   Lady Beware   (0, 0)   (0, 0)    (0, 0)
4      Someone to Watch Over Me   (0, 0)   (0, 0)    (2, 1)
5            The Pick-up Artist   (0, 0)  (21, 4)    (5, 0)
6               Julia and Julia   (0, 0)   (0, 0)    (6, 2)
7                  Over the Top   (0, 0)   (0, 0)    (9, 1)
8                    Spaceballs   (7, 1)   (7, 1)    (7, 1)
9                  Street Smart   (0, 0)   (0, 0)    (1, 1)
10                      Orphans   (4, 0)   (4, 0)   (17, 3)
11                       Yeelen   (0, 0)   (0, 0)    (0, 0)
12                 Five Corners   (0, 0)   (0, 0)    (4, 2)
13             Desyat Negrityat   (0, 0)   (0, 0)    (0, 0)
14      The Witches of Eastwick   (1, 0)   (0, 0)  (40, 13)
15                     Real Men   (0, 0)   (0, 0)    (4, 1)
16                  Bagdad Cafe   (0, 0)   (0, 0)    (2, 0)
17               Sister, Sister   (0, 0)   (0, 0)    (1, 0)
18              O.C. and Stiggs   (9, 0)   (9, 0)    (5, 0)
19                Summer School   (0, 0)   (0, 0)    (1, 0)
20                   Hellraiser   (0, 0)   (0, 0)    (0, 0)
21         Beauty and the Beast   (0, 0)   (0, 0)    (0, 0)
22                        Kaash   (0, 0)   (0, 0)    (0, 0)
23              Rumpelstiltskin   (0, 0)   (0, 0)    (3, 0)
24     Amazon Women on the Moon   (0, 0)   (0, 0)    (9, 3)
25              Enemy Territory   (0, 0)   (0, 0)    (2, 0)
26              Someone to Love   (0, 0)   (0, 0)    (7, 2)
27               House of Games   (2, 0)   (0, 0)    (1, 0)
28                      Dragnet   (0, 0)   (0, 0)    (3, 0)
29    The Belly of an Architect   (0, 0)   (0, 0)    (0, 0)
30                    Surrender   (0, 0)   (0, 0)   (22, 7)
31                      Matewan   (0, 0)   (0, 0)    (4, 1)
32             The Hanoi Hilton   (0, 0)   (0, 0)    (5, 3)
33               A Tiger's Tale   (0, 0)   (0, 0)   (14, 5)
34                      Macbeth   (0, 0)   (0, 0)    (0, 0)
35                Dirty Dancing   (0, 0)   (0, 0)    (0, 0)
36                     La Bamba   (0, 0)   (1, 1)    (0, 0)
37          Diary for My Lovers   (0, 0)   (0, 0)    (0, 0)
38            Back to the Beach   (0, 0)   (0, 0)    (1, 0)
39           The Princess Bride   (6, 0)   (6, 0)   (12, 1)
40                 Mr. Nice Guy   (0, 0)   (0, 0)    (0, 0)
41  Kadamai Kanniyam Kattupaadu   (0, 0)   (0, 0)    (0, 0)
42                  Lady Beware   (0, 0)   (0, 0)    (0, 0)
43     Someone to Watch Over Me   (0, 0)   (0, 0)    (2, 1)
44           The Pick-up Artist   (0, 0)  (21, 4)    (5, 0)
45              Julia and Julia   (0, 0)   (0, 0)    (6, 2)
46                 Over the Top   (0, 0)   (0, 0)    (9, 1)
47                   Spaceballs   (7, 1)   (7, 1)    (7, 1)
48                 Street Smart   (0, 0)   (0, 0)    (1, 1)
49                      Orphans   (4, 0)   (4, 0)   (17, 3)