In [1]:
import numpy as np
import pandas as pd

In [139]:
filename = 'films_1972.pkl'
file = pd.read_pickle(filename)

In [133]:
file.query('title == "Seven Brides for Seven Brothers"')

,title,director,producer,writer,cast,music,cinematography,editing,distribution,time,language,budget,box_office
38,Seven Brides for Seven Brothers,[Stanley Donen],[Jack Cummings],"[Albert Hackett, Frances Goodrich, Dorothy Kin...","[Howard Keel, Jane Powell, Jeff Richards, Matt...","[Gene de Paul, Johnny Mercer, Adolph Deutsch, ...",[George J. Folsey],[Ralph E. Winters],"[Loew's, Inc.]",102,[English],"2,540,000","9,403,000"

In [134]:
file = file.drop([38])

In [136]:
file.index = pd.RangeIndex(0,203)

In [137]:
file.to_pickle(filename)

In [156]:
int(file.budget[0].replace(',', ''))

3300000

In [162]:
a = [1, 2, 0, 4, 5, 6]
b = [i in a for i in [0, 7, 8, 9]]
True in b

True

In [177]:
a = ['Columbia', 'Warner Distributors', 'Warner Bros. Pictures (US)']
True in [x in n for n in a for x in ['Warner', 'Paramount']]

False

True